.error-container {
  margin-top: 150px;
  text-align: center;
}

.error-container h1 {
  font-size: 170px;
  font-weight: 700;
  margin-bottom: 0;
}

.error-container h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3rem;
}

.error-container a {
  text-decoration: none;
  background-color: var(--clr-m);
  color: var(--clr-white);
  border-radius: 1rem;
  padding: .8rem 1.6rem;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.error-container a:hover {
  background-color: var(--clr-white);
  color: var(--clr-m);
  border: 1px solid var(--clr-m);
}