img{
    width: 50px;
}
.table-responsive{
    width: 1300px;
}

.table{
    width: -webkit-fill-available;
   border-collapse: collapse;
   text-align: left;
   padding: 20px !important;
   overflow-x: scroll;
   border: 1px solid white;
}

.thead-light {
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    background-color: whitesmoke;
}
.thead-light tr {
    /* width: 100%; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; */
    font-weight: 500    ;
    text-transform: uppercase;

}

.thead-light tr td {
    /* text-align: left; */
    padding: 15px 25px;
    margin: 20px;
    font-size: 1.7rem;
    font-weight: 500;
}
tbody {
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
} 
tbody tr {
    border-bottom: 1px solid whitesmoke;
    height: 70px;
}

.CarInfo {
    display: flex;
    align-items: center;
    padding-left: 15px;

}
.carImage{
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.carData {
    font-size: 1.6rem;
    padding-left: 10px;

}
.carData::first-letter{
  text-transform: capitalize;
}

.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  .table {
    border: 1px solid #ddd; /* Add a border to the table */
  }

  .table th,
  .table td {
    border-bottom: 1px solid #ddd; /* Add bottom border to table cells */
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Apply background color to even rows */
  }
  .table th,
  .table td {
    padding: 12px; /* Add padding to table cells */
  }
  
  .table-responsive {
    overflow-x: auto; /* Add horizontal scroll for smaller screens */
    max-width: 100%; /* Ensure the table is responsive */
  }

  tbody tr:hover {
    background-color: var(--clr-m-100); /* Add a subtle hover effect */
    cursor: pointer;
  }
