:root {
  --color-main: #05c7cf;
  --color-main-50: #f5fdfd;
  --color-main-900: #2193b0;
  --color-white: #fff;
  --color-black: #000;
  --color-smoke-white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
}