.parent {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

.map {
  max-width: 100%;
  height: 272px;
  border-radius: 10px;
  margin-top: 2rem
}

.carDetails {
  display: flex;
  margin-top: 3.8rem;
}

.carDetails img {
  max-width: 132px;
  height: 72px;
  border-radius: 8px;
  background-color: var(--clr-m);
  margin-right: 1.6rem;
}

.carDetails span {
  margin-left: auto;
}

.carName {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.carType,
.carDetails span {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: var(--clr-g-400);
}

.locationDetails {
  border-bottom: 1px solid var(--clr-g-100);
  padding-bottom: 4rem;
}

.priceDetails {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: var(--clr-g-800);
}

.priceNote {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: var(--clr-g-300);
}

.price {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--clr-m);
}